.homeWrapper {
  margin: auto;
  margin-top: 10px;
  box-shadow: 2px 2px 4px #74747488;
  border-radius: 10px;
  height: 90vh;
  width: 90vw;
}

.contentWrapper {
    height: 85vh;
    overflow:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    ::-webkit-scrollbar {
        display: none;
      }
}

.pageFont {
  padding-top: 3px;
  font-size: 20px;
}

.headerStyle {
  height: 56px;
}